{% load static %}
{% load tags %}
{% load dajaxice_templatetags %}

{% url "analysis" as analysis_url %}
{% url "index" as index_url %}
{% url "results" as results_url %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>CS4242 Assignment 2</title>

		<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>

		<link rel="stylesheet" href="{% static "css/reset.css" %}" type="text/css">
		<link rel="stylesheet" href="{% static "css/styl.css" %}" type="text/css">

		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="{% static "js/jquery.easing.1.3.js" %}" ></script>
		<script type="text/javascript" src="{% static "js/jquery.reveal.js" %}" ></script>
		<script type="text/javascript" src="{% static "js/spin.js" %}" ></script>
		{% dajaxice_js_import %}
	</head>

	<body>
		<div id="overlay" class="center">
			<div id="polling_text">Initializing...</div>
			<br/>
			<div id="polling_text2">Initializing...</div>
		</div>
		<div class="fadeMe"></div>
		<div id="header">
			<div id="header_in">

				<h1><a href="{{ index_url }}"><b>SENTIMENTAL</b> ANALYSIS</a></h1>

				<div id="menu">
					<ul>
						<li>
							<a href="{{ index_url }}" class='{% active request "^/wifi/CS4242_Assg2/$" %}{% active request "^/$" %}{% active request index_url %}'>New Category</a>
						</li>
						<li>
							<a href="{{ analysis_url }}" class="{% active request analysis_url %}">Analysis</a>
						</li>
						<li>
							<a href="{{ results_url }}" class="{% active request results_url %}">Results</a>
						</li>
					</ul>
				</div>

			</div>
		</div>

		{% block main %}
		{% endblock %}

		{% block content %}
		{% endblock %}

		{% block extracontent %}
		{% endblock %}

		<!-- *********  Footer  ********** -->

		<hr class="cleanit">

		<div id="footer">
			<div id="footer_in">

				<p>
					<a href="#">For use in CS4242 Assignment 2.</a> By Sim Kern Cheh & Zhong LiYing
				</p>

			</div>
		</div>

		{% block scripts_end %}
		{% endblock %}
		<script>
			var opts = {
				lines : 25, // The number of lines to draw
				length : 0, // The length of each line
				width : 12, // The line thickness
				radius : 200, // The radius of the inner circle
				corners : 1, // Corner roundness (0..1)
				rotate : 0, // The rotation offset
				direction : 1, // 1: clockwise, -1: counterclockwise
				color : '#fff', // #rgb or #rrggbb or array of colors
				speed : 1, // Rounds per second
				trail : 66, // Afterglow percentage
				shadow : false, // Whether to render a shadow
				hwaccel : false, // Whether to use hardware acceleration
				className : 'spinner', // The CSS class to assign to the spinner
				zIndex : 2e9, // The z-index (defaults to 2000000000)
				top : 'auto', // Top position relative to parent in px
				left : 'auto' // Left position relative to parent in px
			};
			var target = document.getElementById('overlay');
			var spinner = new Spinner(opts).spin(target);
		</script>
	</body>
</html>